<div class="header">
    <div class="header-top clearfix">
        <div class="brand-apha"><img src="/sites/all/modules/custom/casestudy/images/logo.png" alt="brand here"></div>
        <div class="brand-syk"><img src="/sites/all/modules/custom/casestudy/images/SYK_again.png" alt="SYK again preview"></div>
    </div>

    <div class="header-share-blocks clearfix">
        <h6>Share </h6>
        <!-- AddThis Button BEGIN -->
        <div class="sb">
            <div class="share-this-bottom addthis_toolbox addthis_default_style addthis_32x32_style" addthis:title="{{ casestudy_title }}" addthis:url="{{ url_path }}" >
                <a class="addthis_toolbox_item addthis_button_facebook at300b" title="Send to Facebook"  href="#"></a>
                <a class="addthis_toolbox_item addthis_button_twitter  at300b" title="Tweet This"        href="#"></a>
                <a class="addthis_toolbox_item addthis_button_linkedin at300b" title="Send to LinkedIn"  href="#"></a>
                <a class="addthis_toolbox_item addthis_button_email    at300b" title="Email"             href="#"></a>
            </div>
            <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f6bfbdb613253c8"></script>
        </div>
    </div>
</div>
<div id="messages">
    <div class="section clearfix">  </div>
</div>
{% set casestudy_width = "col-lg-12" %}
<div class="row">
    <div class="{{ casestudy_width }}">
        {{ form }}
    </div>
</div>

